<section class="hero-container">
  <div class="hero-body max-width-body">
    <div class="hero-text">
      <p class="inscriptions">Inscripciones Abiertas 2025</p>
      <h1>Forma parte de nuestra <span>comunidad universitaria</span></h1>
      <p class="description">
        Somos el centro de innovación salvadoreño que impulsa el talento local
        para crear soluciones con un impacto global. Únete a nuestra comunidad y
        haz realidad tus proyectos más audaces.
      </p>
      <div class="hero-buttons">
        <a href="#" class="btn-primary"
          >Conoce nuestras carreras
          <img
            src="./assets/Icons/icon-arrow-next-ltr.svg"
            alt="flecha"
            class="arrow-icon"
        /></a>
        <a href="#" class="btn-secondary"
          ><img
            src="./assets/Icons/icon-phone-outline.svg"
            alt="teléfono"
            class="phone-icon"
          />Solicita información</a
        >
      </div>
      <div class="hero-stats">
        <div class="stat">
          <h3>50+</h3>
          <p>Años de experiencia</p>
        </div>
        <div class="stat">
          <h3>15K+</h3>
          <p>Estudiantes activos</p>
        </div>
        <div class="stat">
          <h3>95%</h3>
          <p>Empleabilidad</p>
        </div>
      </div>
    </div>
    <div class="hero-image">
      <img
        src="./assets/img/Student_hero_image_1.jpg"
        alt="Estudiantes en clase"
      />
    </div>
  </div>
</section>
