<section class="academic-container">
  <div class="academic-body max-width-body">
    <!-- Titulo -->
    <div class="academic-title">
      <h1>Programas Académicos</h1>
      <p>
        Descubre nuestros programas de pregrado y postgrado diseñados para
        formar los profesionales del futuro con excelencia académica.
      </p>
    </div>

    <!-- Contener de cards -->
    <div class="academic-columns">
      <!--  -->
      <div class="academic-columnleft academic-column">
        <div class="academic-card">
          <img
            class="academic-card-icon"
            src="./assets/Icons/icon-graduation-cap.svg"
            alt=""
          />
          <div class="academic-card-text-container">
            <h2 class="academic-card-title">PreGrado</h2>
            <p class="academic-card-description">
              Programas de licenciatura con enfoque práctico y teórico
            </p>
            <a class="academic-card-link" href="">explorar programas</a>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="academic-columncenter academic-column">
        <div class="academic-card">
          <img
            class="academic-card-icon"
            src="./assets/Icons/icon-books.svg"
            alt=""
          />
          <div class="academic-card-text-container">
            <h2 class="academic-card-title">PostGrado</h2>
            <p class="academic-card-description">
              Maestrias y especializaciones para profundizar conocimientos
            </p>
            <a class="academic-card-link" href="">explorar programas</a>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="academic-columnright academic-column">
        <div class="academic-card">
          <img
            class="academic-card-icon"
            src="./assets/Icons/icon-microscope.svg"
            alt=""
          />
          <div class="academic-card-text-container">
            <h2 class="academic-card-title">Doctorado</h2>
            <p class="academic-card-description">
              Investigacion avanzada y desarrollo de conocimiento
            </p>
            <a class="academic-card-link" href="">explorar programas</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Estadisticas -->
    <div class="academic-stats">
      <div class="academic-stat">
        <h4 class="academic-stat-title">50+</h4>
        <p class="academic-stat-text">Programas Académicos</p>
      </div>
      <!--  -->
      <div class="academic-stat">
        <h4 class="academic-stat-title">15,000+</h4>
        <p class="academic-stat-text">Estudiantes activos</p>
      </div>
      <!--  -->
      <div class="academic-stat">
        <h4 class="academic-stat-title">95%</h4>
        <p class="academic-stat-text">Empleabilidad</p>
      </div>
      <!--  -->
      <div class="academic-stat">
        <h4 class="academic-stat-title">25</h4>
        <p class="academic-stat-text">Años de Experiencia</p>
      </div>
    </div>

    <button class="academic-button">Ver todos los programas</button>
  </div>
</section>
