:root {
  --blue-100: #1220df;
  --blue-200: #3e20e4;
  --blue-600: #003884;
  --blue-600: #00285f;
  --blue-900: #04025e;
  --sky-400: #00abf1;

  --gray-100: #e8e8f4;
  --gray-150: #c0c0c0;
  --gray-200: #737373;
  --gray-300: #222222;

  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

.main_content {
  background-color: var(--gray-100);
  display: grid;
  gap: 40px;
  padding-top: 40px;
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

body {
  font-family: "Cairo", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}

.max-width-body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  /* box-sizing: border-box; */
}

/* @media (max-width: 1024px) {
  .max-width-body {
    padding: auto;
  }
} */
